html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#website-max-width {
  max-width: 1920px;
  margin: auto;
}

/* navigation start */

#navigation {
  background-color: aqua;
  display: grid;
  grid-template-columns: 125px;
  grid-template-rows: 50px 50px;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav"
    "nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav";
}

#navigation ul {
}

#navigation ul li {
}

/* navigation end */

/* header start */

/* header end */

/* footer start */

#footer {
}

/* footer end */
