html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-transform {
  display: inline-block;
}

.text-transform::first-letter {
  text-transform: uppercase;
}

/* navigation start */

#navigation {
  background-color: white;
}

#navigation section{
  display: flex;
  flex-direction: row;
  max-height: 100px;
  min-height: 100px;
  max-width: 1630px;
  margin: auto;
}

#navigation div a {
  height: 100px;
}

#navigation div a img {
  width: 100%;
  height: 100px;
}

#navigation ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: auto 0;
}

#navigation ul li {
  margin: 0px 20px 0px 20px;
}

#navigation ul li i {
  font-size: 2rem;
}

#navigation ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  max-height: 100px;
}

.search {
  margin: 0px 20px 0px 80px;
}

/* navigation end */
/* Frontpage css start */
/* header start*/
.front-page-header {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  max-width: 1630px;
  margin: auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, minmax(250px, 1fr));
  grid-template-areas:
    "box1 box1 box2 box3 box3"
    "box1 box1 box4 box5 box5"
    "box6 box7 box7 box5 box5"
    "box6 box8 box9 box9 box10";
  gap: 1.5vw;
}
.front-page-header h2 {
  font-size: 1.3vw;
}
.front-page-header p{
  font-size: 1.1vw;
}
.front-page-header article {
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.25vw;
}
#box1 {
  grid-area: box1;
  background-image: url('/img/box1.png');
  background-size: cover;
}

#box2 {
  grid-area: box2;
  background-image: url('/img/box1.png');
  background-size: cover;
}
#box3 {
  grid-area: box3;
  background-image: url('/img/test.png');
  background-size: cover;
}
#box4 {
  grid-area: box4;
  background-image: url('/img/box1.png');
  background-size: cover;
}
#box5 {
  grid-area: box5;
  background-image: url('/img/box1.png');
  background-size: cover;
}
#box6 {
  grid-area: box6;
  background-image: url('/img/box2.png');
  background-size: cover;
}
#box7 {
  grid-area: box7;
  background-image: url('/img/test.png');
  background-size: cover;
}
#box8 {
  grid-area: box8;
  background-image: url('/img/box1.png');
  background-size: cover;
}
#box9 {
  grid-area: box9;
  background-image: url('/img/test.png');
  background-size: cover;
}
#box10 {
  grid-area: box10;
  background-image: url('/img/box1.png');
  background-size: cover;
}
/* header end */
/* middle section start */

#middle-container{
  background-color: black;
}
#middle-grid-container
{
  max-width: 1630px;
  margin: auto auto;
  color: white;
  padding: 3.9vw 0.7vw;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, minmax(50px, 1fr));
  grid-template-areas:
  "mid-section-title mid-section-title mid-section-title"
  "dato1 articlebox1 mid-section-img1"
  "dato2 articlebox2 mid-section-img2"
  "dato3 articlebox3 mid-section-img3";
  gap: 1.5vw;  
}
#mid-section-title {
  grid-area: mid-section-title;
  font-size: 3.5vw;
  margin-top: 3.9vw;
}
#middle-grid-container div h2 {
  font-size: 5vw;
}
#middle-grid-container div h3 {
  font-size: 1.5vw;
}
#dato1 {
  grid-area: dato1;
}
#dato2 {
  grid-area: dato2;
}
#dato3 {
  grid-area: dato3;
}
#articlebox1 {
  grid-area: articlebox1;
}
#articlebox2 {
  grid-area: articlebox2;
}
#articlebox3 {
  grid-area: articlebox3;
}
#middle-grid-container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25vw;
}
#middle-grid-container article h3 {
  font-size: 1.2vw;
  padding-bottom: 1.17vw;
}
#middle-grid-container article p {
  font-size: 1.2vw;
}
#mid-section-img1 {
  grid-area: mid-section-img1;
}
#mid-section-img2 {
  grid-area: mid-section-img2;
}
#mid-section-img3 {
  grid-area: mid-section-img3;
}
#middle2-grid-container {
  max-width: 1630px;
  margin: auto auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2 minmax(200px,1fr));
  grid-template-areas: 
  "mid2-articlebox figure1 figure2 figure3"
  "mid2-articlebox figure4 figure5 figure6";
  gap: 1.5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
#mid2-articlebox{
  grid-area: mid2-articlebox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4vw;
  width: 25vw;
}
#mid2-articlebox h2{
  font-size: 2vw;
  margin-bottom: 1.5vw;
}
#mid2-articlebox p{
  font-size: 1.3vw;
}
#middle2-grid-container figure {
  margin-bottom: 1.5vw;
}
#middle2-grid-container img {
  margin-bottom: 1.5vw;
}
#figure1 {
  grid-area: figure1;
}
#figure2 {
  grid-area: figure2;
}
#figure3 {
  grid-area: figure3;
}
#figure4 {
  grid-area: figure4;
}
#figure5 {
  grid-area: figure5;
}
#figure6 {
  grid-area: figure6;
}
figure h3 {
  text-align: center;
  font-size: 1.3vw;
  padding-top: 0.3vw;
}
#map-section {
  margin: auto auto;
  width:100%;
  max-width: 1920px;
}

#map{
  
  margin: auto auto;
  width:100%;
  height:70vh; 
  border:0;
}

/* middle section end */
/* Frontpage CSS end  */
/* footer start */
footer {
  background-color: rgb(90, 88, 88);
}

#footer-top {
  max-width: 1630px;
  min-height: 300px;
  align-items: center;
  display: flex; 
  margin: auto;
  
}

#footer-top h3 {
  font-size: 5rem;
  font-weight: 800;
  margin-left: auto;
  color: white;
  
}

#footer-social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



#footer-social li {
  padding-left: 125px;
}

#footer-social a {
  text-decoration: none;
  color: white;
}

#footer-social a i {
  font-size: 2rem;
}

.icon {
  width: 8rem;
}

#footer-mid-container {
  background-color: lightgrey;
}

#footer-mid {
  max-width: 1630px;
  min-height: 300px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#footer-mid h3 {
  font-size: 5rem;
  font-weight: 800;
  
  color: black;
  margin-bottom: 20px;
}

#footer-mid h4 {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#footer-mid p {
  font-size: 1.5rem;
  color: slategrey;
}

#footer-mid li {
  padding: 10px;
  list-style: none;
}

#footer-mid ol {
  list-style: none;
}

#footer-mid li {
  font-size: 1.8rem;
}

#footer-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

#footer-bottom-container {
  background-color: rgb(175, 175, 175);
}

#footer-bottom {
  max-width: 1630px;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: auto;
  font-size: 2rem;
}

#footer-bottom ul {
  list-style: none;
  display: flex;
  
}

#footer-bottom li {
  justify-content: space-between;
  margin: 0 20px;
}

#footer-bottom a {
  text-decoration: none;
  color: black;
}

/* footer end */

/* media start */

/* media end */

/* underside 1 start */

/* underside 1 end */

/* underside 2 start */

/* underside 2 end */

/* underside 3 start */

/* underside 3 end */

/* underside 4 start */

/* underside 4 end */