html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#website-max-width {
  max-width: 1920px;
  margin: auto;
}

.text-transform {
  display: inline-block;
}

.text-transform::first-letter {
  text-transform: uppercase;
}

/* navigation start */

#navigation {
  display: flex;
  flex-direction: row;
  max-height: 100px;
}

#navigation div a {
  height: 100px;
}

#navigation div a img {
  width: 100%;
  height: 100px;
}

#navigation ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 0;
}

#navigation ul li {
}

#navigation ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  max-height: 100px;
}

/* navigation end */

/* header start */

/* header end */

/* footer start */

#footer {
}

/* footer end */

/* media start */

/* media end */
